body {
    background-color: black;
    color: white;
    font-family: 'W95FA';
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    height: 100vh;
    width: 100vw;
}

#leaderboard-title {
    width: 60vw;
/*    height: 30vh;  */
    border-color: white;
    border-width: 5px;
    border-style: outset;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#leaderboard-background{
    background-color:#272727 ;
    width: 60.9vw;
    height: 80%;
    border-color: white;
    border-style: solid;
    border-width: 5px;


}


