body {
    background-color: black;
    color: white;
    font-family: 'Inconsolata', monospace;
    display: flex;
	
	justify-content: center;
	align-items: baseline;
	align-content: space-between;
    height: 100vh;
    width: 100vw;
}

#leaderboard-title {
    width: 60vw;
/*    height: 30vh;  */
    border-color: white;
    border-width: 5px;
    border-style: outset;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
}

#leaderboard-background{
    background-color:#272727 ;
    width: 60vw;
    
}


